@font-face {
     font-family: "g-a sans";
     src: url("g-a-sans.ttf") format("truetype"), url("g-a-sans.woff") format("woff");
     letter-spacing: normal;
}
 .box {
     width: 15%;
     padding: 10px;
     margin: 10px;
     border: 1px solid black;
     text-align: center;
     display: inline-block;
}
 * {
     font-family: "g-a sans", "Inter", "ScriptwideSansCJK-A","ScriptwideSansCJK-B","ScriptwideSansCJK-C","Chocolate Classical Sans", "Gothic Nguyen", "Noto Sans CJK KR", "Noto Sans KR", "Noto Sans JP", "Noto Sans HK", "Noto Sans TC", "Noto Sans SC", "Plangothic P1", "Plangothic P2", "Lorchin Sans P2", "Jigmo", "Jigmo2", "Jigmo3", "Hanazono Mincho A", "Hanazono Mincho B", "HanaMinA", "HanaMinB", sans-serif !important;
}
